/*cores para o template
#251E17-marrom;
#EFE851-dourado;
*/
header {
width: 100%;
height: 150px; 
background: rgba(37, 30, 23,.78);
position: absolute;
}
header .header-gold{
    width: 100%;
    height: 40px; 
    background: #ffd882; 
    position: absolute;
}
#menu{
    float: right;
}
ul li {
    list-style: none;
    display: inline-block;
    margin-top: 65px;
    margin-left: 10px;
    color: #fff;
    font-family: sans-serif;
}
ul li a{
    color: #fff;
    text-decoration: none;

}
ul li a:hover{
    color: #ffde89;
}
nav li input{
    top:15px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #0f0a06;
    color: #fff;
}
nav li button{
  float: left;
  width: 20%;
  padding: 10px;
  background: #0f0a06;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
nav li button:hover{
    background: #ffde89;
}
#banner img{
    width: 100%;
    height: 697px;
    margin-top:-35px;

}
#banner h1{
    position: relative;
    text-align: center;
    top:400px;
    font-size: 58px;
    color:#0f0a06;
}
#destaques h2{
    text-align: center;
    color: #daa520;
}
/*área de conteúdo*/
.col-sm{
    height: 300px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 3px 1px #0f0a06;
}
#c1l1 img{
    background-image: url("../img/img1.jpg");
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
/*rodapé*/
footer{
background:rgb(37, 30, 23);
width: 100%;
height: 200px;
position: relative;
}
.footer-dark{
    margin-top: 150px;
    background:#0f0a06;;
    width: 100%;
    height: 50px;
    position: absolute;
}
footer p{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
footer a{
    color: #fff;
    text-decoration: none;
}
footer a:hover{
    color: #daa520;
}

